* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    background: url('https://i.ibb.co/7tZ8G3j/hbackground.png') no-repeat center center fixed;
    background-size: cover;
  }
  
  .hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.85); /* Arka planın üzerine beyaz şeffaf katman */
  }
  
  .content {
    max-width: 600px;
  }
  
  .content h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .content p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  input[type="email"] {
    padding: 10px;
    width: 70%;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #ff3b3f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .image img {
    max-width: 500px;
    height: auto;
    border-radius: 10px;
  }